app-shopping-cart {

    .link-tag {
    //background-color: #f44336;
    color: #f44336;
    padding: 14px 25px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    }




}