page-filter {
    .header-banner{
		
		height:50%;
		min-height:30%;
		//background:red;
    }
    .header-banner-item{
		
		height:100px;
		min-height:50px;
		//background:red;
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}
}
