<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
        <!-- <button  class="item item-button-right" (click)= "openFilters()">
      <ion-icon name="ios-color-filter"></ion-icon>
  </button>
  <button  class="item item-button-right" (click)="addCart()">
      <ion-badge id="notifications-badge" *ngIf="n" color="danger">{{ n}}</ion-badge>
      <ion-icon name="ios-cart" md="md-cart"></ion-icon>
  </button> -->

    </ion-navbar>



</ion-header>

<ion-content padding>
    <ion-toolbar>

        <ion-segment>
            <ion-segment-button value="LIST VIEW" (click)="listView()">
                LIST VIEW
            </ion-segment-button>
            <ion-segment-button value="MAP VIEW" (click)="mapView()">
                MAP VIEW
            </ion-segment-button>
        </ion-segment>

        <!-- <ion-row>
                <ion-col>  <a class="button"   (click)="listView()"  >LIST VIEW</a></ion-col>
                
                <ion-col> <a class="button"  (click)="mapView()"  >MAP VIEW</a> </ion-col> 
                     
                    </ion-row> -->
    </ion-toolbar>
    <ion-toolbar no-border class="scrollable-segments">
        <ion-segment ng-model="let category of categories|async">
            <!-- <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
                    <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
                </ion-col> -->
            <!-- <ion-segment  > -->
            <ion-segment-button *ngFor="let category of categories | async" value="{{category.Category}}" (click)="getItem(category)">
                {{ category.Category}} </ion-segment-button>
            <!-- </ion-segment> -->

        </ion-segment>
    </ion-toolbar>

     <!-- <div ng-switch="Category.SrNo"> -->
      <!-- <ion-list {{ category.SrNo}} *ngIf ="category.SrNo== 1"  >  -->
           <ion-list>    
            <ion-item *ngFor="let product of result"  (click)="addCart()">
                <ion-avatar item-left>
                    <img class="img-responsive" src="../../assets/{{product.ProductImgURL}}">

                </ion-avatar>
                <h2>{{product.ProductName}}</h2>
                <!-- <h3>{{product.ProdDesc}}</h3> -->
                <h4>{{product.Price}}</h4>

                <!-- <button type="button" 
    class="button success small js-btn-add"
    (click)="addProductToCart(product, 1)"
    >Add To Cart</button>
    <button type="button"
        class="button small js-btn-remove"
        *ngIf="productInCart(product) | async"
        (click)="removeProductFromCart(product, 1)"
        >Remove item from cart</button> -->
            </ion-item>
        </ion-list>
    <!-- </div> -->
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="viewCart()">
            <ion-icon name="cart"></ion-icon>
        </button>
    </ion-fab>

</ion-content>