<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  <button  class="item item-button-right" (click)= "openFilters()">
      <ion-icon name="ios-color-filter"></ion-icon>
  </button>
  <button  class="item item-button-right" (click)="addCart()">
      <ion-badge id="notifications-badge" *ngIf="n" color="danger">{{ n}}</ion-badge>
      <ion-icon name="ios-cart" md="md-cart"></ion-icon>
  </button>
  
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>  <a class="button"   (click)="listView()"  >LIST VIEW</a></ion-col>
    
    <ion-col> <a class="button"  (click)="mapView()"  >MAP VIEW</a> </ion-col> 
         
        </ion-row>
   
  <ion-list>
  <ion-item *ngFor="let product of products | async" (click)="addCart()" >
    <ion-avatar item-left>
      <img class="img-responsive" src="../../assets/{{product.ProductImgURL}}">
    
    </ion-avatar>
    <h2>{{product.ProductName}}</h2>
    <!-- <h3>{{product.ProdDesc}}</h3> -->
    <h4>{{product.Price}}</h4>
    <button type="button"
    class="button success small js-btn-add"
    (click)="addProductToCart(product, 1)">Add To Cart</button>
<button type="button"
    class="button small js-btn-remove"
    *ngIf="productInCart(product) | async"
    (click)="removeProductFromCart(product, 1)">Remove item from cart</button>
  </ion-item>
</ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="viewCart()"><ion-icon name="cart"></ion-icon>
  </button>
  </ion-fab> 

</ion-content>

<!-- <ion-content padding>
       
      <ion-content padding>
<div class="wrapper"> -->
 
          <!-- <ion-item  *ngFor="let question of inputDataArray">
              {{question.title}}
              <br>
              Text : <input name={{question.name}} placeholder={{question.placeholder}} />
              <br>
        </ion-item> -->
              <!-- <header>
               <h1>Ionic Technologies</h1>
            </header>
      
            <div class="box red">
               <h2>Angular</h2>
               <p>Front-end development framework</p>
            </div>
      
            <div class="box green">
               <h2>Ionic Native</h2>
               <p>Apache Cordova compatible plugins</p>
            </div>
      
            <div class="box blue">
               <h2>TypeScript</h2>
               <p>Superset of JavaScript</p>
            </div>
      
            <div class="box purple">
               <h2>Sass</h2>
               <p>Object oriented CSS</p>
            </div>
      
            <div class="box orange">
               <h2>HTML 5</h2>
               <p>Semantic Mark-up and related API's</p>
            </div>
      
            <div class="box violet">
               <h2>Ionic CLI</h2>
               <p>The engine behind the framework</p>
            </div>
      
            <div class="box turquoise">
               <h2>Stencil</h2>
               <p>Web component generator</p>
            </div>
      
            <div class="box yellow">
               <h2>Web Components</h2>
               <p>Self-packaged modules</p>
            </div>
      
      
            <footer>Footer</footer>-->
       
<!--        
          </div> 
      
      </ion-content>
</ion-content> -->
