page-home {
 
    .filtericon
    {
        float: right;
        width:40px;
        height:30px;
    }
    ion-icon {
        font-size: 40px; //Preferred size here
    }
	#notification-button {            
		position: relative;
		width: 42px;
		top:1px;
		right: 1px;
		overflow: visible!important;
	}
    ion-toolbar.scrollable-segments {
//overflow: hidden;

    //     ion-segment {
    //         border: 0px;
    //       display: block;
    //       overflow: hidden;
    //       white-space: nowrap;
    //    &::-webkit-scrollbar {
    //         width: 0;
    //         height: 0;
    //         display: none;
    //     }
    //       ion-segment-button.segment-button {
    //         display: inline;
    //         overflow: hidden;
    //         flex: 1 0 100px;
    //         color: black;
    //       }
    //     }

    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: hidden;
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }

    }


    

#notifications-badge {
		background-color: red;
		position: absolute;
		top: -3px;
		right: -3px;
		border-radius: 100%;
	}
	.filters {

        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            ion-icon {
                color: #ccc;
            }

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            color: #fff;
            margin: 0;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        .selected {
            font-weight: 700;
        }
    }
    
}

.segment-md .segment-button{
    width: 50%;
}
